body
{
    width:600px;
}
body *
{
    border: 2px solid black;
}


nav
{
    background-color:lavender;
}

header
{
    background-color:lightcoral;
}

article
{
    background-color:lightyellow;
    height:180px;
}

footer
{
   background-color: gray;
}
