body{
    font-family: Roboto, Helvetica, sans-serif;
}
h1{
    font-size: 16px;
    color:  #444444;
}
.container{
    text-align: center;
    margin: 5px;
    font-size: 13px;
}
.offer{
    display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
    border: 1px solid #cccccc;
}
.offer-title{
    font: 14px bold #ffffff;
    background-color: #00b3b3;
    padding: 15px;
    margin: 0px;
}

.offer-contents{
    padding: 20px;
    background-color: #fafafa;
}

table{
    width: 100%;
    background-color: #ffffff;
    
}
th{
    font-size: 12px;
    font-weight: bold;
    color: #777777;
    padding: 10px;
    margin: 0px;
}
td{
    font-weight: lighter;
    color: #444444;
    padding: 20px 10px;
    margin: 0px;
}

th, td{
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
}

.final-value{
    font-weight: bold;
    color: #2222ff;
}